

<p><%= @dojos.branch %></p>
<p><%= @dojos.street %></p>
<p><%= @dojos.city %></p>
<p><%= @dojos.state %></p>

<a href="/dojos">Home</a>
<a href ="/dojos/<%= @dojos.id %>/edit">Edit</a>
<a href = "/dojos/<%= @dojos.id %>/students">Add Student</a>