<h1>Secrets</h1>

<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <p><%= secret.likes.count %> Likes</p>
    <% secret.users.distinct.each do |user| %>
        <p><%= user.first_name %> <%= user.last_name %></p>
    <% end %>
    
    <% if secret.user == current_user %>
        <a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a>
    <% else %>
        <% if secret.users.include? current_user %>
            <form action="<%= likes_destroy_path %><%= secret.id %>/unlike" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                <input type="submit" value="Unlike" />
            </form>
        <% else %>
            <form action="<%= likes_create_path %><%= secret.id %>/like" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                <input type="submit" value="Like" />
            </form>
        <% end %>
    <% end %>
<% end %>